// colores
$color_white:#fff;
$color_platinum:#e8e8e8;
$color_gray:#bababa;

$color_dark_salmon:#ee9480;
$color_melon:#f4baae;
$color_pale_pink:#fadfda;

$color_bali_blue:#2ab7ca;
$color_middle_blue: #77d1dd;
$color_blue_lagoon: #b1e4eb;

$color_onyx:#333745;
$color_spanish_gray:#8f9199;
$color_lavender_gray:#c7c8cc;

$color_raising_black:#221d23;
$color_nickel: #726f73;
$color_silver_chalice: #aeacaf;

// font-size

$font_size_5x-large:50px;
$font_size_4x-large:45px;
$font_size_3x-large:40px;
$font_size_2x-large:35px;
$font_size_x-large:30px;
$font_size_large:20px;
$font_size_medium:16px;
$font_size_small:14px;
$font_size_x-small:12px;
